body{
    background: rgb(170, 158, 158);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 950px;
    width: 100%;
    margin: auto;
}

.top-image{
    border-radius: 50%;
    width: 15%;
    position: relative;
    border: rgb(27, 27, 27) 2px solid;
}

#title,.subtitle,.post-title{
    color:blueviolet
}

#title{
font-size: 35px;
font-weight: bold;
text-transform: capitalize;
text-decoration: underline;
}

.post-title{
    font-size: 18px;
    font-style: italic;
    position: relative;
    text-align: left;
}

.post{
    background: rgb(27, 27, 27);
    padding: 20px;
    border: blueviolet 2px solid;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

.post-image{
    border-radius: 10px;
    margin-bottom: 5px;
    width: 45%;
    position: relative;

}

.post-text{
    text-align: left;
}

a{
    text-decoration: underline;
    color: blueviolet;
}

ol{
    list-style-type:  upper-roman;
    border: 2px solid black;
    padding: 30px;
    
}
ul{
    list-style: "\1F44D";
    
}